%h1 Threads
%pre
  :preserve
    Pool Running? #{@pool.running?}
    Auto Terminate? #{@pool.auto_terminate?}
    Fallback Policy: #{@pool.fallback_policy}
    Idle Time: #{@pool.idletime}
    Completed Task Count: #{@pool.completed_task_count}
    Scheduled Task Count: #{@pool.scheduled_task_count}
    Threads Created: #{@pool.largest_length}
    Threads: #{@pool.length}
    Pending Tasks: #{@pool.queue_length}

%table
  %tr
    / %th PID
    %th Name
    %th Status
    %th Priority
    / %th Run Time
  - @threads.each do |thread|
    %tr
      / %td= thread.pid
      %td.align-left= thread.name
      %td= thread.status
      %td= thread.priority
      / %td= (Time.now.to_f - thread.started_at).round(1)
