- config.each_pair do |key, value|
  - if value.is_a?(OpenStruct)
    #{("&nbsp;" * ident)}#{key}
    = haml :config_kv, locals: { config: value, ident: ident + 4 }
  - else
    #{("&nbsp;" * ident)}#{key} = #{value}
