%h1 Servers

%ul
  %li
    %a{ href: "/servers/create", title: "Create Server" } Create Server

%table
  %tr
    %th ID
    %th Name
    %th Host
    %th Port
    %th Connected?
    %th Authenticated?
    %th RTT
  - Servers.all.each do |server|
    %tr
      %td= server.id
      %td= server.name
      %td= server.host
      %td= server.port
      %td= server.connected?
      %td= server.authenticated?
      %td #{server.rtt} ms
