%h1 Servers

%table
  %tr
    %th ID
    %th Name
    %th Host
    %th Client Port
    %th Factorio Port
    %th Connected?
    %th Authenticated?
    %th RTT
  - Servers.all.each do |server|
    %tr
      %td= server.id
      %td= server.name
      %td= server.host
      %td= server.client_port
      %td= server.factorio_port
      %td= server.connected?
      %td= server.authenticated?
      %td #{server.rtt} ms
