%h1 Servers

%table
  %tr
    %th ID
    %th Name
    %th Host
    %th Client Port
    %th Factorio Port
    %th Connected?
    %th Authenticated?
    %th Available?
    %th RTT
    %th Actions
  - Servers.all.each do |server|
    %tr
      %td= server.id
      %td= server.name
      %td= server.host
      %td= server.client_port
      %td= server.factorio_port
      %td= server.connected?
      %td= server.authenticated?
      %td= server.available?
      %td
        - if server.rtt.nil?
          \-
        - else
          #{server.rtt} ms
      %td
        - if server.unavailable?
          %a{ href: "/servers/start/#{server.name}", title: "Start Server '#{server.name}'" } START
          |
        - if server.available?
          %a{ href: "/servers/stop/#{server.name}", title: "Stop Server '#{server.name}'" } STOP
          |
        %a{ href: "/servers/delete/#{server.name}", title: "Delete Server '#{server.name}'" } DELETE
