%h1 Signals
%hr
%h2 Network IDs: #{signals.get_network_ids.map(&:to_s).sort.join(', ')}
%hr
%table.fleft
  %tr
    %th Network ID
    %th Signals
  - signals.get_network_ids.map(&:to_s).sort.each do |nid|
    - s = signals.tx(nid, force: true)
    %tr
      %td.align-right= nid
      %td.align-right #{s.count} Signals

- signals.get_network_ids.map(&:to_s).sort.each do |nid|
  %table.fleft
    %tr
      %th{ colspan: 3 } NID: #{nid}
    %tr
      - s = signals.tx(nid, force: true)
      - if s.nil?
        %th No Signals!
      - else
        %th.align-right Signal Name
        %th.one Signal Type
        %th.one Signal Count
      - s.each do |signal|
        %tr
          %td.align-right= signal["signal"]["name"]
          %td.one= signal["signal"]["type"]
          %td.one= signal["count"]
