%font.header
  Storage

%table
  %tr
    %th{ rowspan: 2 } Item
    %th{ rowspan: 2 } Count
    %th{ colspan: 3 } Averages
    %th{ rowspan: 2, style: "width: #{@meter_width}px;" } Distribution
  %tr
    %th.white 1m
    %th.white 5m
    %th.white 15m
  - @storage.each do |item_name, item_count|
    - item_statistics = @statistics[item_name]
    %tr
      %td.align-right.one= item_name
      %td.align-right.one{ id: "#{item_name}-count" }= item_count
      %td.one= (item_statistics.delta_count_1 rescue "-")
      %td.one= (item_statistics.delta_count_5 rescue "-")
      %td.one= (item_statistics.delta_count_15 rescue "-")
      %td
        %div.fleft{ style: "width: #{((item_count.to_f / @total_count.to_f) * 100.0).to_i}%; background-color: red;" } &nbsp;
        %div.fright{ style: "width: #{100 - ((item_count.to_f / @total_count.to_f) * 100.0).to_i}%; background-color: green;" } &nbsp;

:javascript
  window.onload = function(){
    (function(){
      var show = function(msg){
        console.log(msg)
        var item = JSON.parse(msg);
        var el = document.getElementById(item.name + "-count");
        el.innerHTML = item.count;
      };

      var ws       = new WebSocket("ws://" + window.location.host + window.location.pathname);
      ws.onmessage = function(m) { show(m.data); };
    })();
  }
