%font.header
  Storage

%table.wide
  %tr
    %th Item
    %th Count
    %th Delta
    %th{ style: "width: #{@meter_width}px;" } Distribution
  - @storage.sort.each do |item_name, item_count|
    - item_statistics = @statistics[item_name]
    %tr
      %td.align-right.one= item_name
      %td.align-right.one{ id: "#{item_name}-count" }= item_count.round
      %td.one= Storage.format_delta_count(Storage.deltas[item_name])
      %td
        %div.fleft{ style: "width: #{((item_count.to_f / @total_count.to_f) * 100.0).to_i}%; background-color: red;" } &nbsp;
        %div.fright{ style: "width: #{100 - ((item_count.to_f / @total_count.to_f) * 100.0).to_i}%; background-color: green;" } &nbsp;

:javascript
  window.onload = function(){
    (function(){
      var show = function(msg){
        console.log(msg);
        var item = JSON.parse(msg);
        var el = document.getElementById(item.name + "-count");
        el.innerHTML = item.count;
      };

      var ws       = new WebSocket("ws://" + window.location.host + window.location.pathname);
      ws.onmessage = function(m) { show(m.data); };
    })();
  }
