%h1 Threads
%table
  %tr
    %th PID
    %th Name
    %th Status
    %th Priority
    %th Run Time
  - @threads.each do |thread|
    %tr
      %td= thread.pid
      %td.align-left= thread.name
      %td= thread.status
      %td= thread.priority
      %td= (Time.now.to_f - thread.started_at).round(1)
